.env
__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.egg-info/
.weeb-cli/
weeb_downloads/
tanitim.md
tanitim-en.md
*.log
aur_temp/
homebrew_temp/
scoop_temp/
chocolatey_temp/
.vscode/
api.yaml
.idea/