typer[all]
rich
questionary
requests
packaging
pycryptodome
curl_cffi
appdirs
prompt_toolkit>=3.0.36,<3.0.50
build
pyinstaller
pyfiglet
setuptools
wheel
py7zr
pypresence

# dev
pytest>=7.0.0
pytest-cov>=4.0.0
pytest-asyncio>=0.21.0
pytest-mock>=3.10.0