typer[all]
rich
textual>=1.0.0
requests
packaging
beautifulsoup4
lxml
pycryptodome
curl_cffi
appdirs
build
pyinstaller
setuptools
wheel
py7zr
pypresence

# dev
pytest>=7.0.0
pytest-cov>=4.0.0
pytest-asyncio>=0.21.0
pytest-mock>=3.10.0