name: Publish Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  pypi_publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/weeb-cli
    permissions:
      id-token: write  
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
          
      - name: Build package
        run: python -m build
        
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  build_binaries:
    name: Build Binaries
    needs: pypi_publish 
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' 
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install . pyinstaller
          
      - name: Build with PyInstaller
        run: |
          pyinstaller --name weeb-cli --onefile --clean --noconfirm weeb_cli/__main__.py --collect-all weeb_cli --collect-all rich --collect-all questionary --collect-all typer
        
      - name: Rename Binary (Linux/Mac)
        if: matrix.os != 'windows-latest'
        run: mv dist/weeb-cli dist/weeb-cli-${{ runner.os }}
        
      - name: Rename Binary (Windows)
        if: matrix.os == 'windows-latest'
        run: ren dist\weeb-cli.exe weeb-cli-Windows.exe
        shell: cmd

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ runner.os }}
          path: dist/weeb-cli*

  release:
    name: Create GitHub Release
    needs: build_binaries
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            artifacts/binary-Linux/weeb-cli-Linux
            artifacts/binary-Windows/weeb-cli-Windows.exe
            artifacts/binary-macOS/weeb-cli-macOS
          generate_release_notes: true
